PUBLIC_BASE_URL=http://111.229.123.234

SERVER_PORT=8800

DB_HOST=127.0.0.1
DB_PORT=3306
DB_NAME=blog
DB_USERNAME=root
DB_PASSWORD=change_me

REDIS_HOST=127.0.0.1
REDIS_PORT=6379
REDIS_DATABASE=8

MAIL_HOST=smtp.163.com
MAIL_PORT=25
MAIL_EMAIL=
MAIL_PASSWORD=
MAIL_SSL_ENABLE=false
MAIL_STARTTLS_ENABLE=false
MAIL_DEBUG=false

AI_API_KEY=
AI_BASE_URL=https://ark.cn-beijing.volces.com/api/v3
AI_MODEL=

CODERUTIL_ACCESS_KEY=
CODERUTIL_SECRET_KEY=

WECHAT_APP_ID=
WECHAT_SECRET=
WECHAT_TOKEN=
WECHAT_AES_KEY=
WECHAT_APPLET_APP_ID=
WECHAT_APPLET_SECRET=

QQ_APP_ID=
QQ_APP_SECRET=

WEIBO_APP_ID=
WEIBO_APP_SECRET=

GITEE_APP_ID=
GITEE_APP_SECRET=

GITHUB_APP_ID=
GITHUB_APP_SECRET=
